@use '../functions/image.scss' as *;

.header {
    background-image: image('bg-hero-mobile.svg');
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.header__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem;
}